<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Design page</title>

<style>


.grid-container{
display: grid;
grid-template-columns: auto auto;
}

body{
padding: 20px;
}
</style>
</head>
<body>
<h1>Design you Taco</h1>
<img th:src="@{/images/TacoCloud.png}"/>

<form method="POST" th:object="${design}">

	<div class = "grid-container">
		<div class="ingredient-group" id="wraps">
			<h3>Designate your wrap: </h3>


			<div th:each="ingredient : ${wrap}">
				<input name="ingredients" type="checkbox" th:value="${ingredient.id}"/>
			
			<span th:text="${ingredient.name}">INGREDIENT</span><br/>
			</div>
		</div>
		<div class="ingredient-group" id="protein">
		<h3>Pick your protein</h3>
		<div th:each="ingredient : ${protein}">
		<input name="ingredients" type="checkbox" th:value="${ingredient.id}"/>
		<span th:text="${ingredient.name}">PROTEIN</span>
		</div>
		
		
		
		</div>
		<div class="ingredient-group" id ="cheese">
		<h3>Select a cheese</h3>
		<div th:each="ingredient : ${cheese}">
		<input name="ingredients" type="checkbox" th:value="${ingredient.id}"/>
		<span th:text="${ingredient.name}">CHEESE</span>
		
		</div>
		</div>
		
		
		<div class="ingredient-group" id="veggies">
		<h3>Determine your veggie: </h3>
		<div th:each="ingredient : ${veggies}">
		<input name="ingredients" type="checkbox" th:value="${ingredient.id}"/>
		<span th:text="${ingredient.name}">INGREDIENT</span>
		</div>
		</div>
		
		<div class="ingredient-group" id="sauce">
		<h3>Select your sauce: </h3>
		<div th:each="ingredient : ${sauce}">
		<input name="ingredients" type="checkbox" th:value="${ingredient.id}"/>
		<span th:text="${ingredient.name}">INGREDIENT</span>
		</div>
		
		</div>
		
		
	</div>
	<div>
		<h3>Name your creation: </h3>
		<input type="text" name="name">
		
		<br/>
		<br/>
		
		<button>Submit your order</button>
		</div>
</form>
</body>
</html>